<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Admin Panel</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Admin Login </h1>
            <div class = "card-body">
                <form th:action="@{/adminDashboard}" th:object = "${loginModal}" method="POST">
                    <form th:action="@{/orderFilterRequest}" th:object = "${OrderFilterRequestModal}" method="POST">
                    <div class ="form-group">
                        <label> Username </label>
                        <input
                                type = "text"
                                class = "form-control"
                                field="*{username}"
                                name="username"
                                placeholder="Enter username"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Password </label>
                        <input
                                type = "text"
                                class = "form-control"
                                field = "*{password}"
                                name = "password"
                                placeholder="Enter password"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>